@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/wp5679143-black-oled-4k-wallpapers.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(15px);
    padding: 1rem;
}

.title {
    display: flex;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 3rem;
}

.form-header {
    margin-bottom: 14vh;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background: #000000e5;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background: #000000e5;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: #000000e5;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000004b;
    font-size: 0.8rem;
}

.input-box input:hover {
    background: #e7e7e7;
}

.input-box input:focus-visible {
    outline: 1px solid #31313157;
}

.input-box label,
.gender-title h6 
{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    margin-bottom: 8px;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
    padding: 0.6rem;
}

.gender-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.gender-input input[type='radio'] {
    margin-right: 0.35rem;
    accent-color: rgba(41, 41, 41, 0.233);
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background: #000000e5;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

.continue-button button:hover {
    transition: 500ms;
    background: #313131f1;
}

.continue-button button a {
    color: #fff;
    font-size: 0.93rem;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width: 1818px) {
    .form-image {
        display: flex;
    }
    .container {
        width: 60%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }
}

@media screen and (max-width: 1740px) {
    .form-image {
        display: none;
    }
    .container {
        width: 90%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }

    .input-box {
        margin-right: 2vh;
    }
}

@media screen and (max-width: 1370px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }
}

@media screen and (max-width: 1300px) {
    .form-image {
        display: none;
    }
    .container {
        width: 70%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }
}

@media screen and (max-width: 1211px) {
    .form-image {
        display: none;
    }
    .container {
        width: 60%;
    }
    .form {
        width: 100%;
    }

    .form-header {
        margin-bottom: 8vh;
    }

    .gender-group {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .gender-inputs {
        margin-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

.input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 10rem;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.gender-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0rem;
    margin-right: 50vh;
}
.gender-group {
    flex-direction: column;
}
.gender-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.continue-button {
    margin-top: 1px;
}
}